<div class="col-lg-12 pagecontent" ng-init="addtrack_init()">
	<span><h3 class="text-primary">Add Track</h3></span>
	<span class="add_buttons"><button class="btn btn-primary" ng-click="go_back()">Back To Track List</button></span>
	
	
	<hr>
</div>

<div class="toaster_position">
	<toaster-container toaster-options="{'time-out': 2000}"></toaster-container>
</div>


	<div class="card col-lg-5 col-lg-offset-3">
		<div ng-form name="add_track">
		  <div class="form-group">
		    <label for="track_name">Track name:</label>
		    <input type="text" class="form-control" id="track_name" placeholder="Breakup song" ng-model="trackname" name="trackname" required>
		  </div>
		  <div class="form-group">
		    <label for="rating">Rating:</label>
		    <input type="number" max="10" min="0" step=.5 class="form-control" id="rating" ng-model="rating" name="rating" placeholder="8.5" required>
		  </div>

		  <div class="form-group">
		    <label for="genre">Genre</label>
		    <select class="form-control genre_list" id="genre" ng-model="genre" ng-options="genree as genree.name for genree in genrelist track by  genree.pk" name="genre" multiple>
		      
		    </select>
		  </div>
		  
		  <button type="submit" class="btn btn-primary fullwidth_button" ng-class="{'disabled':add_track_disable}" ng-click="add_track_details(add_track)" ng-disabled="add_track.$invalid">Submit</button>
		</div>
	</div>
